body {
  font-family:  Helvetica, Arial, sans-serif;
  margin: 32px;
}

#power-gauge g.arc {
  fill: steelblue;
}

#power-gauge g.pointer {
  fill: #e85116;
  stroke: #b64011;
}

#power-gauge g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}
rect {
  fill: steelblue;
}
.impCircle {
  fill: #e8e2ca;
}
.prodCircle {
  fill: #3e6c0a;
}
.expCircle {
  fill: #e8e2ca;
}
.consCircle {
  fill: #3e6c0a;
}
.arrow{
  stroke-width:3;
  stroke:grey;
  stroke-dasharray:5, 5;
}
#arrow{
 stroke-width:1;
 stroke-dasharray:0;
}
